# 本文件提供了与NapCat对接的配置


# WebSocket 服务配置
  - type: websocket-server
    # 监听地址
    host: 0.0.0.0
    # 监听端口
    port: 8080
    # 路径
    path: /qq
    # 是否启用访问令牌（用于认证）
    token: ""


# 默认中间件配置
default-middlewares &default:
  access-token: ''
  filter: ''
  rate-limit:
    enabled: false
    frequency: 1
    bucket: 6

# 数据库相关
# 如果你不需要数据库功能，可以保留默认配置
database:
  leveldb:
    enable: true
    path: ./leveldb
  sqlite:
    enable: false
    cache-size: 1024
    database: data.db
    journal-mode: WAL
    synchronous: NORMAL
    foreign-keys: true
    busy-timeout: 5000