# 本文件提供了与NapCat对接的配置


# WebSocket 服务配置
  - type: websocket-server
    # 监听地址
    host: 0.0.0.0
    # 监听端口
    port: 8080
    # 路径
    path: /qq
    # 是否启用访问令牌（用于认证）
    token: ""


# 默认中间件配置
default-middlewares &default:
  access-token: ''    # 与.env 中的 ACCESS_TOKEN 保持一致
  filter: ''
  rate-limit:
    enabled: false
    frequency: 1
    bucket: 6
